body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 40px;

  width: 1200px;
}

/*--------------------Header--------------------*/

.nav {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: rgb(255, 255, 255);
}

.header-logo {
  position: absolute;
  left: calc(50% - 69px);

  width: 138px;
  height: 70px;
}

.site-nav {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  width: 1056px;

  list-style: none;
}

.site-nav a {
  display: block;

  padding: 0;

  font-weight: 700;
  color: rgb(0, 0, 0);
}

.nav-item {
  width: 20%;
  margin-top: 14px;
  margin-bottom: 16px;
}

.nav-item:nth-child(1) {
  margin-right: 29px;
}

.nav-item:nth-child(2) {
  margin-right: 148px;
}

.nav-item:nth-child(3) {
  margin-right: 34px;
}

.nav-item:nth-child(1) a,
.nav-item:nth-child(2) a {
  text-align: left;
}

.nav-item:nth-child(3) a,
.nav-item:nth-child(4) a {
  text-align: right;
}

.site-nav a:hover,
.site-nav a:focus {
  color: rgb(129, 179, 210);
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item-current a {
  color: rgb(118, 99, 87);
}

/*--------------------Main--------------------*/

.intro,
.map {
  line-height: 0;
}

.intro img,
.map img {
  margin: 0 auto;

  display: block;
}

.features,
.search {
  text-align: center;

  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}

.features h3 {
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 66px;
  padding: 0;
  width: 156px;

  font-size: 21px;
  font-weight: 700;
}

.features .features-title {
  margin-top: 59px;
  margin-bottom: 27px;
  width: 450px;
}

.features .features-subtitle {
  margin-bottom: 50px;
  padding: 0;
}

.features-list,
.features-others {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.features-list p {
  margin: 0 auto;
  margin-bottom: 58px;
  padding: 0;
  width: 308px;
}

.features-item:nth-child(3) p,
.features-item:nth-child(4) p {
  width: 262px;
}

.features-item:nth-child(5) p {
  width: 250px;
}

.features-item:not(:last-child),
.others-item {
  position: relative;
  width: calc(100% / 3);

  line-height: 21px;
}

.features-item:last-child {
  width: 100%;
}

.features-item:nth-child(1),
.features-item:nth-child(2) {
  color: rgb(255, 255, 255);

  background-color: rgb(129, 179, 210);
}

.features-item:nth-child(1) {
  margin-right: 800px;

  order: 1;
}

.features-item:nth-child(2) {
  margin-left: 800px;

  order: 3;
}

.features-item:nth-child(1)::after,
.features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;

  width: 800px;
  height: 256px;

  background-repeat: no-repeat;
}

.features-item:nth-child(1)::after {
  left: 400px;

  background-image: url("../img/photo-1.jpg");
}

.features-item:nth-child(2)::before {
  right: 400px;

  background-image: url("../img/photo-2.jpg");
}

.features-item:nth-child(3),
.features-item:nth-child(4),
.features-item:nth-child(5) {
  order: 3;

  background-color: rgb(238, 238, 238);
}

.features-item:nth-child(6) {
  order: 2;
}

.features-item:nth-child(1) h3::after,
.features-item:nth-child(2) h3::after,
.features-item:nth-child(3) h3::after,
.features-item:nth-child(4) h3::after,
.features-item:nth-child(5) h3::after {
  content: "";
  position: absolute;
  top: 114px;
  right: 174px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.features-item:nth-child(1) h3::after {
  content: "— №1 —";
}

.features-item:nth-child(2) h3::after {
  content: "— №2 —";
}

.features-item:nth-child(3) h3::after {
  content: "— №3 —";
}

.features-item:nth-child(4) h3::after {
  content: "— №4 —";
}

.features-item:nth-child(5) h3::after {
  content: "— №5 —";
}

.others-item h3 {
  position: relative;
  margin-top: 162px;
  margin-bottom: 24px;
}

.others-item p {
  width: 285px;
  margin-bottom: 81px;
}

.others-item:nth-child(1) h3::before,
.others-item:nth-child(2) h3::before,
.others-item:nth-child(3) h3::before {
  content: "";
  position: absolute;
  bottom: 50px;
  right: 41px;

  background-repeat: no-repeat;
}

.others-item:nth-child(1) h3::before {
  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
}

.others-item:nth-child(2) h3::before {
  width: 74px;
  height: 70px;

  background-image: url("../img/icon-2.svg");
}

.others-item:nth-child(3) h3::before {
  right: 46px;
  width: 64px;
  height: 76px;

  background-image: url("../img/icon-3.svg");
}

/*--------------Search--------------------*/

.search-title {
  margin: 50px 0 24px;
  padding: 0;


  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-subtitle {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  line-height: 24px;
}

.form-btn {
  margin: 0 auto;
  padding: 32px 139px 31px;

  display: block;

  font-size: 21px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: rgb(118, 99, 87);
  border: none;

  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  background-color: rgb(96, 78, 67);
}

.form-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

/*---------------Search-form------------------*/

.form-wraper {
  position: relative;
}

.search-form {
  position: absolute;
  right: calc(50% - 284px);
  width: 568px;

  display: flex;
  flex-wrap: wrap;

  background-color: rgb(255, 255, 255);
}

.search-item,
.search-item-wraper {
  position: relative;
  margin: 0 auto;
  margin-bottom: 29px;
  width: 458px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
  text-align: justify;
}

.search-item:nth-child(1) {
  margin-top: 55px;
}

.search-item-wraper {
  margin-bottom: 54px;
}

.search-item-wraper .search-item {
  margin: 0;
  margin-top: 1px;
}

.search-item-wraper .search-item:first-child {
  width: 226px;
}

.search-item-wraper .search-item:last-child {
  width: 178px;
}

.search-item input[type="text"] {
  padding: 6px 13px;
  box-sizing: border-box;
  width: 346px;

  font: inherit;
  text-transform: uppercase;
  color: rgb(0, 0, 0);

  background-color: rgb(242, 242, 242);
  border: none;
}

.quantity-wraper {
  position: relative;
}

.quantity-wraper input[type="text"] {
  width: 114px;

  text-align: center;
}

.search-item input[type="text"]::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

.search-item input[type="text"]::-moz-placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
}

.search-item input[type="text"]:-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

.search-item input[type="text"]::-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

.search-item input[type="text"]::placeholder {
  color: rgb(0, 0, 0);
}

.search-item input:hover {
  background-color: rgb(235, 235, 235);
}

.search-item input:focus {
  background-color: transparent;
  outline-color: rgb(229, 229, 229);
}

.calendar-btn,
.quantity-btn {
  position: absolute;
  padding: 0;
  width: 21px;
  height: 22px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.calendar-btn {
  top: 8px;
  right: 9px;
}

.calendar-btn::before,
.quantity-btn::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 39px;

  background-color: transparent;
}

.calendar-btn::before {
  bottom: -8px;
  right: -9px;
}

.quantity-btn::before {
  bottom: -18px;
  right: -13px;
}

.calendar-btn:focus,
.quantity-btn:focus {
  outline: none;
}

.calendar-btn:hover path,
.calendar-btn:focus path {
  fill: rgb(0, 0, 0);

}

.calendar-btn:active path {
  fill: rgb(129, 179, 210);
}

.quantity-btn {
  top: 18px;
  height: 3px;

  background-color: rgb(169, 169, 169);
}

.quantity-btn.minus {
  left: 13px;
  width: 12px;
}

.quantity-btn.plus {
  left: 90px;
  width: 11px;
}

.plus-part {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 3px;
  height: 11px;

  background-color: inherit;
}

.quantity-btn:hover,
.quantity-btn:focus {
  background-color: rgb(0, 0, 0);
}

.quantity-btn:active {
  background-color: rgb(129, 179, 210);
}

.search-btn {
  margin: 0 auto;
  margin-bottom: 55px;
  padding: 16px 0;
  width: 458px;

  display: block;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: rgb(129, 179, 210);
  border: none;

  cursor: pointer;
}

.search-btn:hover,
.search-btn:focus {
  background-color: rgb(102, 158, 192)
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189)
}

/*--------------------filters--------------------*/

.filters {
  line-height: 21px;
  color: rgb(255, 255, 255);

  background: rgb(122, 157, 191) url("../img/filter-background.jpg") no-repeat center top;
}

.filters-list {
  margin-left: 72px;

  display: flex;
  flex-wrap: wrap;
}

.filters-list fieldset {
  margin: 27px 0 7px;
  padding: 0;

  border: none;
}

.filters-list fieldset:nth-child(1) {
  margin-right: 118px;
}

.filters-list fieldset:nth-child(2) {
  margin-right: 350px;
}

.filters-list legend {
  margin-top: 12px;
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 700;
}

.filter-items {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.filter-item {
  position: relative;
  margin-bottom: 24px;
}

.filter-checkbox {
  position: relative;
  padding-left: 39px;

  vertical-align: middle;

  cursor: pointer;
}

.filter-checkbox input[type="checkbox"] {
  display: none;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg"), url("../img/checkbox-off.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 -27px, 0 0;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-position: 0 0, -27px 0;
}

.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator,
.filter-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  opacity: 0.3;
}

.filter-range {
  width: 318px;
}

.filter-range legend {
  margin-bottom: 10px;
}

.price-controls {
  position: relative;
  margin-bottom: 20px;
  height: 32px;

  font-size: 0;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 156px;
  width: 2px;
  height: 22px;

  background: rgb(255, 255, 255);
}

.price-controls label {
  padding-top: 5px;
  padding-left: 65px;
  width: 90px;

  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.filter-range .max-price {
  padding-left: 57px;
}

.price-controls input {
  margin: 0;
  width: 50px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: rgb(255, 255, 255);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: rgb(171, 171, 171);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover,
.range-toggle:focus {
  background: rgb(28, 79, 128);
}

.filters-btn {
  margin-top: 32px;
  margin-left: 85px;
  padding: 6px 34px;

  font: inherit;
  line-height: 21px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;

  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

/*--------------Catalog-----------------------------*/

.catalog {
  background-color: rgb(255, 255, 255);
}

/*--------------Catalog-sorting---------------------*/

.catalog-sorting {
  display: flex;
  flex-wrap: wrap;
}

.catalog-sorting h3 {
  margin: 30px;
  margin-left: 71px;
  margin-right: 49px;
  font-size: 21px;
  font-weight: 700;
}

.sorting-options {
  margin-top: 25px;

  display: flex;
  flex-wrap: wrap;

  font-size: 12px;
  line-height: 15px;
}

.sorting-options p {
  margin-right: 39px;
}

.sorting-list {
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.sorting-list li {
  margin-right: 33px;
}

.sorting-list:nth-of-type(2) li {
  margin-right: 0;
}

.sorting-list a {
  display: block;

  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted rgb(129, 179, 210);

  cursor: pointer;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: rgb(129, 179, 210);
}

.sorting-list a:active {
  color: rgb(0, 0, 0);

  border: none;
}

.sorting-list .sorting-btn-active {
  color: rgb(129, 179, 210);

  border: none;
}

.sorting-list.ascending-descending {
  margin-top: 6px;
  margin-left: 465px;
  padding: 0px;
}

.ascending-descending a {
  padding: 6px;

  display: block;

  border: none;
}

.sorting-btn path:hover,
.sorting-btn path:focus {
  fill: rgb(0, 0, 0);
}

.sorting-btn path:active,
.sorting-btn-active path {
  fill: rgb(129, 179, 210);
}

/*--------------Catalog-list-----------------------*/

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 237px;
  padding-right: 73px;

  display: flex;
  flex-wrap: wrap;

  line-height: 21px;

  border-top: 1px solid rgb(229, 229, 229);
}

.catalog-item:last-child {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.item-pic {
  position: absolute;
  top: 30px;
  left: 72px;
  width: 138px;
  height: 70px;

  line-height: 0;
}

.item-title {
  order: 1;
  margin: 0;
  margin-bottom: 6px;
  width: 560px;

  display: block;

  color: rgb(0, 0, 0);
}

.item-title h3 {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.item-title:hover,
.item-title:focus {
  color: rgb(129, 179, 210);
}

.item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-stars {
  order: 1;
  margin: 0;
  margin-top: 4px;
  width: 18px;
  height: 17px;

  background-image: url("../img/star.svg");
  background-repeat: space;
}

.item-stars.two-stars {
  margin-left: 289px;
  width: 41px;
}

.item-stars.three-stars {
  margin-left: 265px;
  width: 65px;
}

.item-stars.four-stars {
  margin-left: 241px;
  width: 89px;
}

.item-rating {
  order: 2;
  margin: 0;
  margin-left: 521px;
  padding-top: 3px;
  padding-left: 16px;
  width: 94px;

  color: rgb(102, 102, 102);

  background-color: rgb(242, 242, 242);
}

.item-info {
  order: 1;
  margin-bottom: 13px;
  margin-right: 478px;
  width: 230px;

  color: rgb(51, 51, 51);

  border-spacing: 0;
}

.item-info td {
  width: 112px;
}

.catalog-btns {
  order: 1;

  display: flex;
  flex-wrap: wrap;
}

.catalog-btn {
  padding: 3px 17px;

  font-weight: 700;
  color: rgb(255, 255, 255)
}

.catalog-btn:first-child {
  background-color: rgb(129, 179, 210);
}

.catalog-btn:first-child:hover,
.catalog-btn:first-child:focus {
  background-color: rgb(102, 158, 192);
}

.catalog-btn:first-child:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189);
}

.catalog-btn:last-child {
  margin-left: 6px;

  background-color: rgb(118, 99, 87);
}

.catalog-btn:last-child:hover,
.catalog-btn:last-child:focus {
  background-color: rgb(96, 78, 67);
}

.catalog-btn:last-child:focus:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

/*--------------------Footer--------------------*/
.footer-main {
  position: relative;
  top: -120px;
}

.footer-wraper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-info,
.footer-social-wraper,
.footer-copyright-wraper {
  width: calc(100% / 3);
}

.footer-info {
  margin-top: 0;
  margin-bottom: 3px;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.footer-social,
.footer-copyright {
  margin: 0 auto;
}

.footer-social {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  line-height: 0;
  list-style: none;
}

.social-btn {
  margin: 36px 3px;

  display: block;

  background-color: rgb(129, 179, 210);
}

.social-btn.twitter {
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 14px;
}

.social-btn.facebook {
  padding: 13px 17px;
}

.social-btn.youtube {
  padding: 16px 13px;
}

.social-btn:hover,
.social-btn:focus {
  background-color: rgb(102, 158, 192);
}

.social-btn:active {
  background-color: rgb(84, 150, 189);
}

.social-btn:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.footer-copyright p {
  margin-bottom: 17px;
  margin-left: 3px;
  margin-right: 8px;
}

.footer-copyright a {
  margin-top: 7px;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
  fill: rgb(129, 179, 210);
}

.footer-copyright:active path {
  fill: rgb(189, 187, 188);
}

/*-------------------------Тень----------------------------------------------*/

.nav {
  box-shadow: 0px -5px 15px 0px rgba(0, 1, 1, 0.2);
}

.intro,
.features,
.search,
.filters,
.catalog {
  box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}

.map,
.footer-wraper {
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.footer-main .footer-wraper {
  box-shadow: none;
}
