body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 40px;

  width: 1200px;
}

/*--------------------Header--------------------*/

.nav {
  position: relative;

  display: flex;
  justify-content: center;
}

.header-logo {
  position: absolute;

  width: 138px;
  height: 70px;
}

.site-nav-wraper {
  background-color: rgb(255, 255, 255);
}

.site-nav {
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1060px;

  list-style: none;
}

.site-nav a {
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 2px;
  padding-right: 2px;

  font-weight: 700;
  color: rgb(0, 0, 0);
}

.nav-item:nth-child(2) a {
  margin-left: 143px;
  margin-right: 192px;
}

.nav-item:nth-child(3) a {
  margin-left: 192px;
  margin-right: 161px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: rgb(129, 179, 210);
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item-current a {
  color: rgb(118, 99, 87);
}

/*--------------------Main--------------------*/

.intro,
.map {
  line-height: 0;
}

/*--------------------------------------------*/

.features,
.search {
  text-align: center;

  background-color: rgb(255, 255, 255);
}

.features h3 {
  width: 156px;
  margin: auto;
  padding: 48px 0 40px;

  font-size: 21px;
  font-weight: 700;
}

.features .features-title {
  width: 450px;
  margin: 0 auto;
  padding: 60px 0 7px;
}

.features .features-subtitle {
  padding: 6px 0 8px;
}

.features-list,
.features-others {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.features-list {
  margin-top: 42px;
}

.features-list p {
  margin: 0;
  padding: 26px 46px 58px;
}

.features-item,
.features-others li {
  width: 400px;

  line-height: 21px;
}

.features-item:nth-child(1),
.features-item:nth-child(2) {
  position: relative;

  color: rgb(255, 255, 255);

  background-color: rgb(129, 179, 210);
}

.features-item:nth-child(1) {
  margin-right: 800px;

  order: 1;
}

.features-item:nth-child(2) {
  margin-left: 800px;

  order: 3;
}

.features-item:nth-child(1)::after,
.features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;

  width: 800px;
  height: 256px;

  background-repeat: no-repeat;
}

.features-item:nth-child(1)::after {
  left: 400px;

  background-image: url("../img/photo-1.jpg");
}

.features-item:nth-child(2)::before {
  right: 400px;

  background-image: url("../img/photo-2.jpg");
}

.features-item:nth-child(3),
.features-item:nth-child(4),
.features-item:nth-child(5) {
  position: relative;

  background-color: rgb(238, 238, 238);
}

.features-item:nth-child(3) {
  order: 4;
}

.features-item:nth-child(4) {
  order: 5;
}

.features-item:nth-child(5) {
  order: 6;
}

.features-item:nth-child(6) {
  order: 2;
}

.features-item:nth-child(1) h3::after,
.features-item:nth-child(2) h3::after,
.features-item:nth-child(3) h3::after,
.features-item:nth-child(4) h3::after,
.features-item:nth-child(5) h3::after {
  content: "";
  position: absolute;
  top: 114px;
  right: 174px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.features-item:nth-child(1) h3::after {
  content: "— №1 —";
}

.features-item:nth-child(2) h3::after {
  content: "— №2 —";
}

.features-item:nth-child(3) h3::after {
  content: "— №3 —";
}

.features-item:nth-child(4) h3::after {
  content: "— №4 —";
}

.features-item:nth-child(5) h3::after {
  content: "— №5 —";
}

.features-item:nth-child(3) p,
.features-item:nth-child(4) p,
.features-item:nth-child(5) p {
  width: 262px;
  margin: 0 auto;
}

.features-item:nth-child(5) p {
  width: 250px;
}

.features-item .features-others {
  width: 1200px;
}

.others-item h3 {
  position: relative;
  padding-top: 162px;
  padding-bottom: 12px;
}

.others-item p {
  width: 285px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 81px;
}

.others-item:nth-child(1) h3::before,
.others-item:nth-child(2) h3::before,
.others-item:nth-child(3) h3::before {
  content: "";
  position: absolute;
  right: 41px;

  background-repeat: no-repeat;
}

.others-item:nth-child(1) h3::before {
  top: 61px;
  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
}

.others-item:nth-child(2) h3::before {
  top: 62px;
  width: 74px;
  height: 70px;

  background-image: url("../img/icon-2.svg");
}

.others-item:nth-child(3) h3::before {
  top: 56px;
  right: 46px;
  width: 64px;
  height: 76px;

  background-image: url("../img/icon-3.svg");
}

/*--------------------------------------------*/

.search-title {
  margin: 0;
  padding: 51px 0 6px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-subtitle {
  padding: 4px 0 7px;

  line-height: 24px;
}

.form-btn {
  margin: 39px auto 0;
  padding: 32px 139px 31px;

  display: block;

  font-size: 21px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: rgb(118, 99, 87);
  border: none;
}

.form-btn:hover,
.form-btn:focus {
  background-color: rgb(96, 78, 67);
}

.form-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

.form-wraper {
  position: relative;
}

.search-form {
  position: absolute;
  right: 316px;
  width: 568px;

  display: flex;
  flex-wrap: wrap;

  background-color: rgb(255, 255, 255);
}

.search-item {
  position: relative;
  margin: 15px 55px;
  width: 458px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
  text-align: justify;
}

.search-item.date:nth-child(1) {
  margin-top: 54px;
}

.item-wraper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item-wraper .search-item:first-child {
  width: 226px;
  margin-right: 27px;
}

.item-wraper .search-item:last-child {
  width: 178px;
  margin-left: 27px;
}

.search-item input[type="text"] {
  margin-left: 16px;
  padding: 6px 13px;
  box-sizing: border-box;
  width: 346px;

  font: inherit;
  text-transform: uppercase;
  color: rgb(0, 0, 0);

  background-color: rgb(242, 242, 242);
  border: none;
}

.search-item input[type="text"]:nth-child(3),
.search-item input[type="text"]:nth-child(4) {
  width: 114px;

  text-align: center;
}

.search-item input:hover {
  background-color: rgb(235, 235, 235);
}

.search-item input:focus {
  background-color: transparent;
  outline-color: rgb(229, 229, 229);
}

.calendar-btn,
.quantity-btn {
  position: absolute;
  padding: 0;
  width: 21px;
  height: 22px;

  background-color: transparent;
  border: none;
}

.calendar-btn {
  top: 8px;
  right: 9px;
}

.calendar-btn:focus,
.quantity-btn:focus {
  outline: none;
}

.calendar-btn:hover path,
.calendar-btn:focus path {
  fill: rgb(0, 0, 0);

}

.calendar-btn:active path {
  fill: rgb(129, 179, 210);
}

.quantity-btn {
  background-color: rgb(169, 169, 169);
}

.quantity-btn.minus {
  bottom: 18px;
  right: 89px;
  width: 12px;
  height: 3px;
}

.quantity-btn.plus {
  bottom: 17px;
  right: 13px;
  width: 11px;
  height: 3px;
}

.plus-part {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 3px;
  height: 11px;
  background-color: inherit;
}

.quantity-btn:hover,
.quantity-btn:focus,
.quantity-btn.more:focus::after {
  background-color: rgb(0, 0, 0);
}

.quantity-btn:active {
  background-color: rgb(129, 179, 210);
}

.search-btn {
  margin: 38px 55px 55px;
  padding: 16px 0;
  width: 458px;

  display: block;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: rgb(129, 179, 210);
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  background-color: rgb(102, 158, 192)
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189)
}

/*--------------------catalog--------------------*/

.filters {
  line-height: 21px;
  color: rgb(255, 255, 255);

  background: rgb(122, 157, 191) url("../img/filter-background.jpg") no-repeat center top;
}

.filters-list {
  display: flex;
}

.filters-list fieldset {
  border: none;
}

.filters-list legend {
  font-size: 16px;
  font-weight: 700;
}

.filters-list ul {
  list-style: none;
}

.price-controls {
  position: relative;

  font-size: 0;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;

  background: rgb(255, 255, 255);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls input {
  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: rgb(255, 255, 255);
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: rgb(171, 171, 171);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover,
.range-toggle:focus {
  background: rgb(28, 79, 128);
}

.filters-btn {
  font: inherit;
  line-height: 21px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.catalog {
  background-color: rgb(255, 255, 255);
}

.catalog h3 {
  font-size: 21px;
  font-weight: 700;
}

.sorting-options {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted rgb(129, 179, 210);
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: rgb(129, 179, 210);
}

.sorting-list a:active {
  color: rgb(0, 0, 0);

  border: none;
}

.sorting-list .sorting-btn-active {
  color: rgb(129, 179, 210);

  border: none;
}

.ascending-descending a {
  border: none;
}

.sorting-btn path:hover,
.sorting-btn path:focus {
  fill: rgb(0, 0, 0);
}

.sorting-btn path:active,
.sorting-btn-active path {
  fill: rgb(129, 179, 210);
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  line-height: 21px;
}

.item-title {
  color: rgb(0, 0, 0);
}

.item-title:hover,
.item-title:focus {
  color: rgb(129, 179, 210);
}

.item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-stars {
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
}

.item-stars.two-stars {
  width: 36px;
}

.item-stars.three-stars {
  width: 54px;
}

.item-stars.four-stars {
  width: 72px;
}

.item-rating {
  color: rgb(102, 102, 102);

  background-color: rgb(242, 242, 242);
}

.item-info {
  color: rgb(51, 51, 51);
}

.catalog-btn {
  font-weight: 700;
  color: rgb(255, 255, 255)
}

.catalog-btn:first-child {
  background-color: rgb(129, 179, 210);
}

.catalog-btn:first-child:hover,
.catalog-btn:first-child:focus {
  background-color: rgb(102, 158, 192);
}

.catalog-btn:first-child:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189);
}

.catalog-btn:last-child {
  background-color: rgb(118, 99, 87);
}

.catalog-btn:last-child:hover,
.catalog-btn:last-child:focus {
  background-color: rgb(96, 78, 67);
}

.catalog-btn:last-child:focus:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

/*--------------------Footer--------------------*/
.footer-main {
  position: relative;
  top: -120px;
}

.footer-wraper {
  display: flex;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer .footer-info {
  margin: 0 127px 3px 133px;
  padding: 0;
  vertical-align: middle;

  font-size: 21px;
  font-weight: 700;
}

.footer-social {
  margin: 0 114px 0 127px;
  padding: 0;

  display: flex;
  align-items: center;

  line-height: 0;

  list-style: none;
}

.social-btn {
  margin: 36px 3px;

  display: block;

  background-color: rgb(129, 179, 210);
}

.social-btn.twitter {
  padding: 17px 14px 16px 15px;
}

.social-btn.facebook {
  padding: 13px 17px;
}

.social-btn.youtube {
  padding: 16px 13px;
}

.social-btn:hover,
.social-btn:focus {
  background-color: rgb(102, 158, 192);
}

.social-btn:active {
  background-color: rgb(84, 150, 189);
}

.social-btn:active path {
  opacity: 0.3;
}

.footer-copyright {
  margin-left: 110px;

  display: flex;
  align-items: center;
}

.footer-copyright p {
  margin-bottom: 17px;
  margin-right: 8px;
}

.footer-copyright a {
  margin-top: 6px;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
  fill: rgb(129, 179, 210);
}

.footer-copyright:active path {
  fill: rgb(189, 187, 188);
}
